<!DOCTYPE html>
<html>
<head>
    <title>Add Player</title>
</head>

<body>

    <h1>Add Player</h1>

    <form method="POST">

        <input type="text" name="name" placeholder="Player Name">

        <br><br>

        <input type="number" name="age" placeholder="Age">

        <br><br>

        <input type="text" name="team" placeholder="Team">

        <br><br>

        <input type="text" name="position" placeholder="Position">

        <br><br>

        <button type="submit">
            Add Player
        </button>

    </form>

</body>
</html>