<!DOCTYPE html>
<html>

<head>
    <title>Players</title>
</head>

<body>

    <h1>Players List</h1>

    {% for player in players %}

        <p>
            {{ player[1] }} -
            {{ player[2] }} years old -
            {{ player[3] }} -
            {{ player[4] }}

            <a href="/edit-player/{{ player[0] }}">
                Edit
            </a>

            <a href="/delete-player/{{ player[0] }}">
                Delete
            </a>

        </p>

    {% endfor %}

</body>

</html>